<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consent</title>
</head>
<body>
    <h1>Allow <span th:text="${clientName}"></span> to access your data in TODO app?</h1>
    <form action="/oauth2/authorize" method="post">
        <input type="hidden" name="client_id" th:value="${clientId}">
        <input type="hidden" name="state" th:value="${state}">
        <input type="checkbox" th:each="scope: ${requestedScopes}" name="scope" th:value="${scope}" th:text="${scope}">
        <h2 th:if="${grantedScopes}">You already have permissions for these scopes:</h2>
        <input th:if="${grantedScopes}" th:each="scope: ${grantedScopes}" type="checkbox" name="scope" th:value="${scope}" th:text="${scope}" disabled checked>
        <button type="submit">Submit</button>
    </form>
</body>
</html>